.home {
    background-color: #000;
    padding: 0 5vw;
}

.showcase {
    display: flex;
    justify-content: space-between;
}

.fa-bars{
    display: none;
}

.showcase-text {
    flex: 1;
    margin: 12px;
    color: white
}

.showcase-text header {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase-text .homepage, footer .homepage, .mob-nav .homepage{
    display: flex;
    align-items: center;
    color: #F6AE2D;
    transition: 1.2s;
}

.showcase-text .homepage:hover {
    opacity: 0.8;
}

.showcase-text .nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: #F6AE2D;
    font-size: 14px;
    margin-left: 12px;
    margin-right: 12px;
}

.showcase-text-explaination {
    padding: 32px;
}

.showcase-text-explaination h1 {
    font-size: 3rem;
}

.showcase-text-explaination h1 span {
    margin: 0 1vw;
}

.showcase-text-explaination p {
    color: grey;
    width: 100%;
    max-width: 450px;
}

.showcase-text-explaination .review {
    margin-top: 8vh;
}

.review img {
    width: 100%;
    max-width: 150px;
}

.review p {
    font-size: 15px;
    margin-top: 12px;
}

.review p i {
    color: gold;
}

.app-store-buttons {
    margin-top: 7vh;
    display: flex;
    align-items: center;
}

.app-store-buttons .apple-button {
    margin-left: 12px;
    animation: shake 2s;

    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.app-store-buttons button {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: #212121;
    color: grey;
    border-radius: 32px;
}

.app-store-buttons button i {
    font-size: 1.5rem;
    margin-right: 12px;
}

.homepage img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    object-fit: contain;
}

.showcase-img {
    width: 500px;
    margin: 12px;
    height: 100%;
    max-height: 600px;
    padding: 20px;
    padding-bottom: 0;
    background-color: #F0F2A6;
    border-radius: 20px;
}

.showcase-img header {
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

.showcase-img header a {
    font-size: 12px;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 12px;
    animation: bounce 1s both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }

 @-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
 }

.showcase-img img {
    width: 100%;
    height: 450px;
    object-fit: contain;
    display: block;
    margin-bottom: -80px;
    margin-top: 10vh;
}

.get-started {
    margin-top: 5vh;
    color: #fff;
    text-align: center;
}

.get-started h1 {
    font-size: 36px;
    color: #F0F2A6;
}

.get-started p {
    color: grey;
    font-size: 13px;
    margin-top: 20px;
}

.get-started-steps {
    display: flex;
    justify-content: center;
}

.get-started-steps div {
    margin: 5vh 3vw;
}

.banner-cut-out {
    margin: 12vh 32px;
    padding: 20px;
    border-radius: 5px;
    background-color: #F0F2A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-cut-out button {
    padding: 20px;
    border-radius: 5px;
    background-color: #000;
    color: #F6AE2D;
    font-weight: bold;
}



.faq {
    margin: 0 32px;
    margin-top: 5vh;
    color: white;
    text-align: center;
}

.faq h5 {
    font-weight: 500;
    margin-top: 12px;
}

.faq-questions {
    margin-top: 20px;
}

.accordion {
    background: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    padding: 20px;
    color: white;
    width: 100%;
    text-align: left;
    display: block;
    margin: auto;
    margin-top: 12px;
    transition: 0.4s;
}

.accordion:after {
    content: '👇';
    font-size: 14px;
    color: #F0F2A6;
    float: right;
    margin-left: 50px;
  }
  
  .active:after {
    content: "☝️"; 
  }

.panel {
    padding: 0 18px;
    background-color: #212121;
    max-height: 0;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    font-size: 12px;
    text-align: left;
    padding: 12px 2px;
}

.review {
    color: white;
    margin-top: 8vh;
    padding: 32px;
}

.review h1{
    text-align: center;
}

.small-div {
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
}

.review-card {
    background-color: #212121;
    border-radius: 5px;
    padding: 20px;
    margin-top: 5vh;
    display: block;
}

.review-card .light{
    font-weight: 500;
    margin-top: 8px;
    opacity: 0.7;
}

/* .slick-slide {
    margin: 0 8px;
}

/* the parent */
.slick-list {
    margin: 0 -8px;
} */

.review-card p{
    margin-top: 8px;
}

.review-card .smaller{
    font-size: 12px;
    opacity: 0.7;
}

.terms-tab{
    padding: 0 5vw;
    color: white;
    text-align: left;
}

.terms-tab h2{
    color: #F6AE2D;
    margin: 12px 0;
}

.terms-tab h4{
    color: #F0F2A6;
    margin: 12px 0;
}

.terms-tab a{
    color: #F6AE2D;
}

.terms-tab p{
    margin: 5px 0;
    color: whitesmoke;
}

footer{
    margin-top: 100px;
    padding: 32px;
    color: #bdbdbd;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

footer a, footer p{
    display: block;
    color: #bdbdbd;
    margin: 8px 0;
    font-size: 14px;
}

@media screen and (max-width: 1125px) {
    .showcase-img{
        width: 450px;
    }
}

@media screen and (max-width: 1065px) {
    .showcase-img{
        width: 400px;
    }
}

@media screen and (max-width: 1000px) {
    .showcase-img{
        background: transparent;
        width: 300px;
    }

    .showcase-img header a {
        font-size: 12px;
        color:#F6AE2D;
        border: 2px solid #F6AE2D;
        border-radius: 20px;
        padding: 12px;
    }
}

@media screen and (max-width: 900px) {
    .showcase-img{
        display: none;
    }

    .showcase-text{
        text-align: center;
    }

    .showcase-text-explaination p {
        margin: 20px auto;
    }

    .app-store-buttons{
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    footer {
        display: block;
        text-align: center;
    }

    footer .homepage {
        justify-content: center;
        margin: 5vh auto;
    }
}

@media screen and (max-width: 650px) {
    .get-started-steps{
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .banner-cut-out{
        display: block;
        text-align: center;
    }

    .banner-cut-out button{
        margin-top: 25px;
    }

    .showcase-text .nav{
        display: none;
    }

    .fa-bars {
        display: block;
    }

    .showcase-text-explaination h1, .get-started h1 {
        font-size: 2rem;
    }

    .showcase-text-explaination p {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .home {
        padding: 0;
    }

    .get-started p {
        margin: 20px;
    }

    .get-started-steps img, .get-started img{
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .app-store-buttons{
        display: block;
    }

    .app-store-buttons button{
        width: 100%;
        justify-content: center;
    }

    .app-store-buttons .apple-button{
        margin-left: 0;
        margin-top: 25px;
    }
}