*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
    background-color: #000;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

input, select, textarea{
    border: none;
    outline: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button, select, input {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.colored{
    color: #F0F2A6;
}

.yellow{
 color: #F6AE2D;
}